<div class="row ">
	<div class="col-sm-4">
		<div class="card bg-info">
			<div class="card-body">
				<div class="d-flex no-block">
					<div class="align-self-center">
						<h6 class="text-white m-t-10 m-b-0">{{ 'TYPE_OF_PROJECT' | trans }}</h6>
						<h2 class="m-t-0 text-white">{{ entity.projectType.name}}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card bg-warning">
			<div class="card-body">
				<div class="d-flex no-block">
					<div class="align-self-center">
						<h6 class="text-white m-t-10 m-b-0">{{ 'NAME_OF_PROJECT' | trans }}</h6>
						<h2 class="m-t-0 text-white">{{ entity.name }}</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-sm-4">
		<div class="card {% if entity.isActive %}bg-success{% else %}bg-danger{% endif %}">
			<div class="card-body">
				<div class="d-flex no-block">
					<div class="align-self-center">
						<h6 class="text-white m-t-10 m-b-0">{{ 'ACTIVE' | trans }}</h6>
						<h2 class="m-t-0 text-white">
							{% if entity.isActive %}
								{{ 'YES' | trans }}
							{% else %}
								{{ 'NO' | trans }}
							{% endif %}
						</h2>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

