<div class="row">
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'ICON' | trans }}</h4>
			<h5 class="card-subtitle"><i class="{{ entity.icon }} fa-2x"></i></h5>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'NAME' | trans }}</h4>
			<h5 class="card-subtitle">{{ entity.name }}</h5>
		</div>
	</div>
	<div class="col-md-6 col-lg-4">
		<div class="form-group">
			<h4 class="card-title">{{ 'IS_FILTER_DEFAULT' | trans }}</h4>
			<h5 class="card-subtitle">
			{% if entity.isDefault %}
			<span class="badge badge-pill badge-success">{{ 'YES' | trans }}</span>
			{% else %}
			<span class="badge badge-pill badge-danger">{{ 'NO' | trans }}</span>
			{% endif %}
			</h5>
		</div>
	</div>
</div>
